@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap');
@import url('components/container.css');
@import url('components/social.css');
@import url('components/footer.css');
@import url('components/gitcorner.css');
@import url('components/buttons.css');

  
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  color: #000000;
  line-height: 24px;
  background-image: linear-gradient(
    90deg
    , #7aeeb4 0%, #fff900 100%);
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 64px;
    font-weight: 200;
    letter-spacing: 4px;
}

p {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	outline: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus,
button:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
}

a:focus-visible,
button:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid #443ffc;
	outline-offset: 3px;
}

a:focus-visible {
	background: none;
}

ul {
    list-style-type: none;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 50px;
}

.list-inline i {
    font-size: 30px;
    color: black;
}

.image-circle {
    border-radius: 50%;
}

.btn-blue {
    background-color: #e10b26;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}

.btn-blue:hover {
  background-color: #35b33b;
  color: white;
}


.black-border {
  border: 1px solid black;
}

.intro {
    height: 100vh;
}

.about {
  height: 100vh;
}