.footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 50px 50px 100px 50px;
  color: rgba(0,0,0,0.3);
}